<body id="settings-page">
  <div class="row">
    <div class="container">
      <h1>Account Settings</h1>
      <div class="panel panel-default">
        <div class="panel-heading">Linked Accounts:</div>
          <div class="panel-body">
            <% @user.identities.each do |i| %>
              <%= i.provider.capitalize %>
            <% end %>
            <% unless @user.identities.length == 2 %>
              <h4>Link Another Account</h4>
              <%= link_to "/auth/twitter", class: "btn btn-default", data: { confirm: "Once you link your accounts, you can log in with either Twitter or Vimeo to access your feed. Are you sure you want to link these accounts?" } do %>
                <%= fa_icon("twitter lg") %>
              <% end %>
              <%= link_to "/auth/vimeo", class: "btn btn-default", data: { confirm: "Once you link your accounts, you can log in with either Twitter or Vimeo to access your feed. Are you sure you want to link these accounts?" } do %>
                <%= fa_icon("vimeo lg") %>
              <% end %>
            <% end %>
        </div>
        <div class="panel-heading">Vimeo Subscriptions:</div>
        <div class="panel-body">
          <div class="panel-body">
            <% @vimeo_handles.each do |h| %>
              <%= h.name %>
              <br>
            <% end %>
          </div>
        </div>
        <div class="panel-heading">Twitter Subscriptions:</div>
        <div class="panel-body">
          TBD
        </div>
      </div>
    </div>
  </div>
</body>
