<div class="page-header">
  <div class="feed-header-bgd">
    <%= image_tag "http://cdn0.rubylane.com/shops/1089582/MCGP1514.1L.jpg", class: "feed-crystal" %>
    <h1 id="timeline">Your FancyFeed</h1>
  </div>
</div>

<% unless current_user.handles.empty? %>
  <div class="filter-box">
    <h3>Menu</h3>
    <%= link_to filter_path("twitter"), class: "btn btn-default" do %>
      <%= fa_icon("twitter lg") %>
    <% end %>
    <%= link_to filter_path("vimeo"), class: "btn btn-default" do %>
      <%= fa_icon("vimeo lg") %>
    <% end %>
    <%= link_to "All", root_path, class: "btn btn-default" %>
    <br></br>
  </div>
<% end %>

<% if !current_user.handles.empty? && !current_user.media.empty? %>
  <ul class="timeline">
    <% @media.each_with_index do |medium, index| %>
      <!-- decide which side of timeline to post on -->
      <% if index % 2 == 0 %>
      <li class="feed">
      <% else %>
      <li class="timeline-inverted feed">
      <% end %>

        <!-- decide which icon to display (pencil or video) -->
        <% if medium.handle.provider == "vimeo" %>
        <div class="timeline-badge muted"><i class="glyphicon glyphicon-facetime-video"></i></div>
        <% elsif medium.handle.provider == "twitter" %>
        <div class="timeline-badge info"><i class="glyphicon glyphicon-pencil"></i></div>
        <% end %>

        <!-- add text or video -->
        <div class="timeline-panel">
          <div class="timeline-heading">
            <% if medium.handle.provider == "vimeo" %>
            <div class="videoWrapper">
              <%= medium.embed.html_safe %>
            </div>
            <% elsif medium.handle.provider == "twitter" %>
              <div class="timeline-title">
                <div class="tweetWrapper">
                  <%= medium.embed.html_safe %>
                </div>
              </div>
            <% end %>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Posted <%= time_ago_in_words(medium.posted_at) %> ago</small></p>
          </div>
        </div>
      </li>
    <% end %>
    <div class="pagination-wrapper">
      <%= will_paginate @media, renderer: BootstrapPagination::Rails %>
    </div>
  </ul>
<% else %>
  <p class="empty-feed">
    Nothing to see here ...yet!
  </p>
<% end %>
