<div class="front-page">
</div>
<div class="container">
  <div class="login-links">
    <%= link_to "/auth/instagram" do %>
      <%= fa_icon("instagram lg") %> LOG IN WITH INSTAGRAM
    <% end %>
    <%= link_to "/auth/instagram" do %>
      <%= fa_icon("twitter lg") %> LOG IN WITH TWITTER
    <% end %>
  </div>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
</div>

<%= flash[:notice] if !flash[:notice].nil? %>
