<div class="front-page">
</div>
<div class="container">
  <div class="login-links">
  <% unless current_user %>
    <%= link_to "/auth/vimeo" do %>
      <%= fa_icon("vimeo lg") %> LOG IN WITH VIMEO
    <% end %>
    <%= link_to "/auth/twitter" do %>
      <%= fa_icon("twitter lg") %> LOG IN WITH TWITTER
    <% end %>
  <% else %>
    <%= button_to "Logout!!!", "/logout", method: :delete, class: "btn btn-default" %> 
  <% end %>
  </div>
  <%= flash[:notice] if !flash[:notice].nil? %>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
  <p>
    I'm testing scrolling content, Hi thar!
  </p>
</div>
