<<<<<<< HEAD
<div <%= 'class=front-page' unless @user %> >
  <div class="login-links">
    <%= link_to "/auth/instagram" do %>
      <%= fa_icon("instagram lg") %> LOG IN WITH INSTAGRAM
    <% end %>
    <%= link_to "/auth/instagram" do %>
      <%= fa_icon("twitter lg") %> LOG IN WITH TWITTER
    <% end %>
  </div>
</div>
<div class="feed">

</div>
=======
<h1>Feed</h1>

<%= flash[:notice] if !flash[:notice].nil? %>
>>>>>>> 0d99daf3c0d73335750d94936fafae63f51d22d4
