<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class="pull-left">
      <h1>Vimeo Search Results</h1>
      <% @vimeo_search_results.each do |handle| %>
        <p class="results">
          <% if handle.subscribed %>
            <%= link_to unsubscribe_path(:handle_uri => handle.uri), class: "btn menu-button", :method => :put do %>
              <label class="sr-only">Unsubscribe</label>
              <span class="glyphicon glyphicon-minus"></span>
            <% end %>
          <% else %>
            <%= link_to subscribe_path(:handle_uri => handle.uri, :provider => "vimeo"), class: "btn menu-button", method: :post do %>
              <label class="sr-only">Subscribe</label>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
          <% end %>
          <% if handle.profile_image_uri %>
            <%= image_tag("#{handle.profile_image_uri}", size: "48x48", class: "img-circle") %>
          <% else %>
            <%= image_tag("vimeo_default.png", size: "48x48", class: "img-circle") %>
          <% end %>
          <%= link_to handle.name, handle.link %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="pull-right">
      <h1>Twitter Search Results</h1>
      <% @twitter_search_results.each do |handle| %>
        <p class="results">
          <% if current_user.handles.pluck(:name).include?(handle.screen_name) %>
            <%= link_to unsubscribe_path(:handle_uri => handle.uri), class: "btn menu-button", :method => :put do %>
              <label class="sr-only">Unsubscribe</label>
              <span class="glyphicon glyphicon-minus"></span>
            <%end %>
          <% else %>
            <%= link_to subscribe_path(:handle_username => handle.screen_name, :handle_uri => handle.uri, :provider => "twitter"), class: "btn menu-button", method: :post do %>
              <label class="sr-only">Subscribe</label>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
          <% end %>
          <%= image_tag("#{handle.profile_image_uri}", class: "img-circle") %>
          <%= link_to handle.screen_name, handle.uri.to_s %>
        </p>
      <% end %>
    </div>
  </div>
</div>
