<!DOCTYPE html>
<html>
<head>
  <title>FancyFeed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Glegoo:400,700|Pacifico' rel='stylesheet' type='text/css'>
</head>
  <div class="container">
    <div class="top-margin">
      <%= render partial: "shared/flash_messages", flash: flash %>
      <%= render 'shared/header' %>
      <%= yield %>
    </div>
  </div>
</html>
